/* Accessibility and utility */
.hidden {
  display: none !important;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}
.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
  color: var(--brand-true-black, #0B0B0F);
  background-color: var(--brand-ivory-white, #F4F2ED);
  font-weight: 600;
  padding: 20px;
}
.no-js .js {
  display: none !important;
  visibility: hidden !important;
}
.user-select-none {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.is-disabled, .is-processing {
  pointer-events: none;
  cursor: wait;
}

@media only screen and (min-width: 1024px) {
  *:focus:not(:focus-visible) {
    outline: none;
  }

  *:not(.card-media):focus-visible,
  input:focus-visible + label:not(.field__label)  {
    outline: 3pt solid var(--focus-ring, #1450C4) !important;
  }

  *:focus-visible > figure::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 2pt var(--focus-ring, #1450C4);
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}