/* Form Elements */
.product-form__input {
  flex: 0 0 100%;
  padding: 0;
  margin: 0 0 1.2rem 0;
  min-width: fit-content;
  border: none;
}

variant-radios,
variant-selects {
  display: block;
}

.product-form__input--dropdown {
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.product-block .form__label {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  width: 100%;
  padding-left: 0;
  margin-bottom: 4px;
}

/* a hidden input that is used to identify the variant */
.product-form__input input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

/* VARIANT BUTTON - default state */
.product-form__input input[type='radio'] + label {
  border-radius: var(--button-border-radius);
  border: solid 1px var(--color-borders);
  background-color: var(--color-background);
  color: var(--color-foreground);
  display: inline-block;
  margin: 5px 1px 2px 0;
  padding: 8px 12px;
  font-size: 1.4rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  position: relative;
  min-width: 44px;

  transition: border 0.16s ease-in-out, color 0.16s ease-in-out, opacity 0.16s ease-in-out;
}

/* VARIANT BUTTON - hover state */
.product-form__input input[type='radio'] + label:hover {
  border-color: var(--color-foreground);
}

/* VARIANT BUTTON - Selected state (all) */
.product-form__input input[type='radio']:checked + label {
  border-color: var(--color-foreground);
  color: var(--color-foreground);
}

/* VARIANT BUTTON - forced colors mode (accessibility) */
@media screen and (forced-colors: active) {
  .product-form__input input[type=radio]:checked + label {
    text-decoration: underline;
  }
}

/* VARIANT BUTTON - crossed out */
[data-cross-unavailable="true"] .product-form__input input[type='radio'].disabled + label::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  transform: rotate(-45deg);
  border-left: solid 1px var(--color-foreground);
}
/* VARIANT BUTTON - text selection */
.product-form__input input[type='radio']:checked + label::selection {
  background-color: var(--color-foreground);
}

/* VARIANT BUTTON - disabled state (data-cross-unavailable) - default */
[data-cross-unavailable="true"] .product-form__input input[type='radio'].disabled + label {
  background-color: var(--primary-variant-disabled);
}

/* VARIANT BUTTON - disabled state (data-cross-unavailable) - hover */
[data-cross-unavailable="true"] .product-form__input input[type='radio']:not(:checked).disabled + label:not(:hover) {
  opacity: 0.65;
}

.product-form__input label:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

/* No outline when focus-visible is available in the browser */
.no-js .product-form__input input[type='radio']:focus:not(:focus-visible) + label {
  box-shadow: none;
}

.product-form__input .select {
  position: relative;
}

.product-form__input .select select {
  padding-right: 4.8rem;
  padding-top: 2.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-form__input .select svg {
  top: 50%;
  right: 0;
  position: absolute;
  pointer-events: none;
  transform: translate(50%, -50%);
  width: 1.8rem !important;
  height: 1.8rem !important;
  right: 2.8rem !important;
}

.product-form__submit {
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}

.product-form__input .swatch.has-image {
  background-color: var(--color-background) !important;
}

.product-form__input label.swatch.has-image img {
  padding: var(--single-swatch-selection-border);
}

.add-to-cart-container.with-quantity-input {
  --quantity-width: 120px;
  gap: 12px;
  display: grid;
  grid-template-columns: var(--quantity-width) auto;
}
.add-to-cart-container.with-quantity-input quantity-input {
  width: var(--quantity-width);
}

.product-form__buttons .product-form__submit{
  min-height: 48px;
}
.product-form__buttons .shopify-payment-button__button {
  border-radius: var(--button-border-radius) !important;
  min-height: 48px;
  overflow: hidden;
}
.shopify-payment-button__more-options {
  padding: 0 !important;
  border: 0 !important;
}

.shopify-payment-button__button + .shopify-payment-button__button--hidden {
  display: none !important;
}

.product-form__error-message-wrapper .icon-error {
  width: 18px;
}
.product-form__error-message-wrapper .product-form__error-message {
  font-size: 1.4rem;
}
.product-form__error-message-wrapper {
  gap: 8px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: var(--error);
  color: var(--error-foreground);
  padding: 8px 12px;
  border-radius: 4px;
}

/* Quantity add */
.js .btn--add-multiplier {
  padding: 0 1.2rem !important;
  height: 100%;
}
.js .with-add-multipliers {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
}
.js .with-add-multipliers.single-line .btn {
  border-radius: 0 !important;
}
.js .with-add-multipliers.single-line .btn:first-child {
  border-top-left-radius: var(--button-border-radius) !important;
  border-bottom-left-radius: var(--button-border-radius) !important;
}
.js .with-add-multipliers.single-line *:last-child .btn {
  border-top-right-radius: var(--button-border-radius) !important;
  border-bottom-right-radius: var(--button-border-radius) !important;
}

.js .with-add-multipliers.stacked {
  flex-wrap: wrap;
  gap: 8px;
}
.js .with-add-multipliers.stacked add-multiplier {
  flex-grow: 1;
}
.js .with-add-multipliers.stacked .btn--add-multiplier {
  padding: var(--button-padding) !important;
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
  width: 100%;
}


/* Recipient form */
.recipient-form {
  /* (2.88[line-height] - 1.6rem) / 2 */
  --recipient-checkbox-margin-top: 0.64rem;

  display: block;
  position: relative;
  max-width: 44rem;
  margin-bottom: 2.5rem;
}

.recipient-form-field-label {
  margin: 0.6rem 0;
}

.recipient-form-field-label--space-between {
  display: flex;
  justify-content: space-between;
}

.recipient-checkbox {
  flex-grow: 1;
  font-size: 1.6rem;
  display: flex;
  word-break: break-word;
  align-items: flex-start;
  max-width: inherit;
  position: relative;
  cursor: pointer;
}

.no-js .recipient-checkbox {
  display: none;
}

.recipient-form > input[type='checkbox'] {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  margin: var(--recipient-checkbox-margin-top) 0;
  top: 0;
  left: 0;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
}

.recipient-fields__field {
  margin: 0 0 2rem 0;
}

.recipient-fields .field__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 3.5rem);
  overflow: hidden;
}

.recipient-checkbox > svg {
  margin-top: var(--recipient-checkbox-margin-top);
  margin-right: 1.2rem;
  flex-shrink: 0;
}

.recipient-form .icon-checkmark {
  visibility: hidden;
  position: absolute;
  left: 0.28rem;
  z-index: 5;
  top: 0.4rem;
}

.recipient-form > input[type='checkbox']:checked + label .icon-checkmark {
  visibility: visible;
}

.js .recipient-fields {
  display: none;
}

.recipient-fields hr {
  margin: 1.6rem auto;
}

.recipient-form > input[type='checkbox']:checked ~ .recipient-fields {
  display: block;
}
.recipient-form > input[type='checkbox']:not(:checked, :disabled) ~ .recipient-fields,
.recipient-email-label {
  display: none;
}

.js .recipient-email-label.required,
.no-js .recipient-email-label.optional {
  display: inline;
}

.recipient-form ul {
  padding-left: 4.4rem;
  text-align: left;
}

.recipient-form ul a {
  display: inline;
}

.recipient-form .error-message::first-letter {
  text-transform: capitalize;
}
