.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.pagination-parts {
  display: flex;
  padding: 0 0.3rem;
  background-color: var(--color-background-alt);
  border-radius: var(--button-border-radius);
}
.pagination-item {
  width: 4.4rem;
  height: 4.4rem;
  display: grid;
  place-content: center;
  line-height: 1;
  border-radius: var(--button-border-radius);
  transition: all 0.2s ease-in-out;
}
.arrow-link {
  background-color: var(--color-background-alt);
  border-radius: var(--button-border-radius);
}
.pagination .current-page {
  background-color: var(--color-background);
  box-shadow: 0 0 0 2px var(--color-button-background);
}
.arrow-link.disabled {
  pointer-events: none;
  opacity: 0.35;
}
.dot-notation {
  width: auto;
  padding: 0 0.3rem;
}
.pagination-item:not(.dot-notation,.current-page):hover {
  color: var(--color-button-foreground);
  background-color: var(--color-button-background);
  box-shadow: 0 0 0 0.3rem var(--color-button-background), 0 0.2rem 0.8rem 0.3rem rgba(0,0,0,.15);
}

@media only screen and (max-width:767px) {
  .wide-parts {
    display: grid;
    grid-template-areas:
      "a a"
      "b c";
  }
  .wide-parts .pagination-parts {
    grid-area: a;
  }
  .wide-parts .arrow-link--prev {
    grid-area: b;
    width: 100%;
  }
  .wide-parts .arrow-link--next {
    grid-area: c;
    width: 100%;
  }
}